# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

# Ignore cache and temporary build files
archive.zip
*.zip
*.idx
*.rpt
*.xml
*.log
*.bc
*.o
*.tmp.bc
*.adb
*.json
*.db/
.cache/
.autopilot/
*.vscode/
project_1/